<div class="container">
    <div class="row">
        <!--TODO: 2
            Create the following fragment for each element in productGroups
            Bind the image source to image and alt to name
            display name in h5 tag
            hint: Images can be found at cdn https://angular-training.azureedge.net/
        -->
        <div class="col-md-4" >
            <a class="card mb-4 box-shadow" role="button">
                <img class="mx-auto card-img-top" />
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <a href="#" class="btn btn-primary">Products</a>
                </div>
            </a>
        </div>
    </div>
  </div>

